<div class="bg-[#F7F7F7] font-poppins flex flex-col h-screen overflow-x-hidden m-0 p-0">
  <div class="font-inter">
    <div class="bg-[#0000005e] bg-blend-multiply  w-full min-h-screen bg-cover bg-[url('https://images.unsplash.com/photo-1462206092226-f46025ffe607?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] font-thin flex lg:flex-row sm:flex-col sm:py-[100px] lg:py-8 gap-y-10">

      <div class="flex-1 lg:flex lg:justify-center lg:items-center">
        <div class="sm:mx-auto sm:w-[90%] md:w-[80%] lg:w-[80%] h-fit px-4">
          <h1 class="text-white font-semibold sm:text-[26px] md:text-[40px]">Welcome To Jobify</h1>
          <p class="text-white mt-3 font-[300] text-[14px]">
            Jobify is your gateway to next-generation recruitment. Designed for ambitious professionals and forward-thinking companies, our platform simplifies the way you discover opportunities, connect with top talent, and grow your career or team.
          </p>
        </div>
      </div>

      <div class="flex-1 lg:flex lg:justify-center lg:items-center">
        <div class="sm:mx-auto sm:w-[90%] md:w-[80%] lg:w-[80%] h-fit px-8 py-10 rounded-lg bg-white">
          <h1 class="text-2xl font-medium text-gray-700">{{ title() }}</h1>
          <p class="mt-4 text-gray-500 font-[400] text-[14px]">{{ subTitle() }}</p>

          <ng-content></ng-content>
        </div>
      </div>

    </div>
  </div>
</div>
